.grid-wrap {
  display: block;
  width: 408px;
  height: 408px;
  background-color: bisque;

  .row {
    border: 1px solid green;
    display: flex;
    width: 100%;

    .cell {
      background-color: white;
      width: 100px;
      height: 100px;
      border: 1px solid coral;
     }
  
    .filled {
      background-color: cadetblue;
    }
  }

}